
.page-content {
  padding-left: 2%;
  padding-right: 2%;
}

.dt_cell {
    white-space: nowrap;
    max-width: 19em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dt_cell:hover {
    overflow: visible;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-content {
    display: none;
    padding: 2px;
    position: absolute;
    z-index: 10;
    background-color: #f9f9f9;
    border: 1pt solid grey;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.dropdown-content a {
    padding: 6px 8px;
    display: block;
    text-align: left;
}

.vis-item .vis-item-overflow:hover {
    overflow: visible;
}

.footer {
    text-align: center;
    font-size: 75%;
}

.data-filtering {
    background-color: #fcf8e3;
}

.data-source-error {
    background-color: #f78a7e;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}

.help-box {
    border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding: 1em;
}
