
.page-content {
  padding-left: 2%;
  padding-right: 2%;
}

.dt_cell {
    white-space: nowrap;
    max-width: 19em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dt_cell:hover {
    overflow: visible;
    //display: block;
}

.dropdown {
    //display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropbtn:hover {
    overflow: visible;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #f9f9f9;
    border: 1pt solid grey;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.dropdown-content a {
    padding: 6px 8px;
    display: block;
    text-align: left;
}
