<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}{% endblock %}Edinburgh Genomics Analysis Driver Reporting App</title>

    <!-- minimal styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reporting_app.css') }}">

    {% block reporting_deps %}
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/jquery.css') }}">

    <!-- IE8 support for HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap/styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    {% block body %}
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img style="height:28px;" src="{{ url_for('static', filename='img/EG_logo_final_version_colourwhite_cropped_white.svg') }}">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" >
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runs<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/runs/recent">Recent</a></li>
                            <li><a href="/runs/current_year">Current year</a></li>
                            <li><a href="/runs/last_12_months">Last 12 months</a></li>
                            <li><a href="/runs/all">All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samples<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/samples/all">All</a></li>
                            <li><a href="/samples/processing">Processing</a></li>
                            <li><a href="/samples/toreview">To review</a></li>
                            <li><a href="/samples/notprocessing">Not processing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown=toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/projects">Summary</a></li>
                            <li><a href="/projects/SGP">SGP Projects</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/project_status/">Project Status - Open</a></li>
                            <li><a href="/project_status/lastweek">Project Status - Last Week</a></li>
                            <li><a href="/project_status/closed">Project Status - Closed</a></li>
                            <li><a href="/project_status/all">Project Status - All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Libraries<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/libraries/recent">Recent</a></li>
                            <li><a href="/libraries/current_year">Current year</a></li>
                            <li><a href="/libraries/last_12_months">Last 12 months</a></li>
                            <li><a href="/libraries/all">All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genotyping<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/genotypes/recent">Recent</a></li>
                            <li><a href="/genotypes/current_year">Current year</a></li>
                            <li><a href="/genotypes/last_12_months">Last 12 months</a></li>
                            <li><a href="/genotypes/all">All</a></li>
                        </ul>
                    </li>
                    <li><a href="/species">Species</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Charts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/charts/tat">Turnaround metrics</a></li>
                            <li><a href="/charts/bioinformatics">Bioinformatics trending</a></li>
                            <b class="dropdown-header">Seq metrics</b>
                            <li><a href="/charts/seq/last_month">Last 30 days</a></li>
                            <li><a href="/charts/seq/last_3_months">Last 3 months</a></li>
                            <li><a href="/charts/seq/last_12_months">Last 12 months</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown=toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/change_password">Change password</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    <div id="content" class="page-content"><div>{% block content %}{% endblock %}</div></div>
    {% endblock %}
</body>

{% block footer %}
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Edinburgh Genomics Reporting App version <a href="https://github.com/EdinburghGenomics/Reporting-App/tree/v{{ version }}">{{ version }}</a>
        </p>
    </div>
</footer>
{% endblock %}

</html>
