{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
{% endblock %}

{% block content %}

<div id="time_options">
    <p>Start date <input type="date" id="date_from" name="date_from" /></p>
    <p>End date <input type="date" id="date_to" name="date_to" /></p>
    <p>Include stages <input type="checkbox" id="include_stages" name="include_stages" /></p>
    <input type="submit" id="submit" />

    <div id="activity_chart" onload="init_bioinformatics_chart();"></div>
</div>

<script src="{{ url_for('static', filename='bioinformatics_activity.js') }}"></script>

{% endblock %}
