{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
<script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/highcharts.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/highcharts-more.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/modules/exporting.js"></script>
<script type="text/javascript" charset="utf8" src="//rawgithub.com/streamlinesocial/highcharts-regression/b84143a4e78a8e128374fe485c711b09a1062750/highcharts-regression.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.10.3/math.min.js" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='bioinformatics_trending.js') }}"></script>

{% endblock %}

{% block content %}

<div id="time_options">
    <p>Start date <input type="date" id="date_from" name="date_from" /></p>
    <p>End date <input type="date" id="date_to" name="date_to" /></p>
    <p>Include stages <input type="checkbox" id="include_stages" name="include_stages" /></p>
    <input type="submit" id="submit" />

    <div id="trending_chart"></div>
</div>

<script>
init_bioinformatics_chart();

$('#submit').click(function() {
    load_bioinformatics_chart('{{ proc_base }}', '{{ stage_base }}');
});
</script>

{% endblock %}
