{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.10.0/math.min.js"></script>
    <script src="{{ url_for('static', filename='charts.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="loadingmessage" class="panel panel-default" style="width: 15%; margin: 0 auto;">
        <div class="panel-body" style="text-align: center;">
            <p class="fa fa-refresh fa-spin"></p>
        </div>
    </div>
    <div id="plots_div" style="display: none">
        <div id="highchart_cont"></div>
    </div>

    <script>
        load_graph('{{ api_url|safe }}', '{{ ajax_token | safe}}', lane_sequencing_metrics_chart);
    </script>
{% endblock %}