{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <script src="{{ url_for('static', filename='seq_charts.js') }}"></script>
{% endblock %}

{% block content %}
    <span>Display: </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_metric" target="">Metric</span> <span class="caret"></span>
        </button>
        <ul id="qc_options" class="dropdown-menu">
        {% for m in metric_options %}
            <li id="button_{{ m.name }}"></li>
        {% endfor %}
        </ul>
    </div>
    <span> Per </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_color" target="">Color</span> <span class="caret"></span>
        </button>
        <ul id="color_options" class="dropdown-menu">
        {% for c in color_options %}
            <li id="button_{{ c.name }}"></li>
        {% endfor %}
        </ul>
    </div>
    <span> As </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_plot_type" target="">Plot</span> <span class="caret"></span>
        </button>
        <ul id="plot_options" class="dropdown-menu">
            <li id="button_scatter"></li>
            <li id="button_scatter_smooth"></li>
            <li id="button_box"></li>
            <li id="button_average"></li>
            <li id="button_average_smooth"></li>
        </ul>
    </div>

    <div id="highchart_cont"></div>

    <script>
        init_lane_sequencing_metrics_chart(
            '{{ time_str }}',
            '{{ merge_on }}',
            {{ merge_properties|tojson|safe  }},
            {{ metric_options|tojson|safe }},
            {{ color_options|tojson|safe }},
        )
    </script>
{% endblock %}
