{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/highcharts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/highcharts-more.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/7.1.2/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf8" src="//rawgithub.com/streamlinesocial/highcharts-regression/b84143a4e78a8e128374fe485c711b09a1062750/highcharts-regression.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.10.3/math.min.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='seq_charts.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
{% endblock %}

{% block content %}
    <span>Display: </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_metric" target="">Metric</span> <span class="caret"></span>
        </button>
        <ul id="qc_options" class="dropdown-menu">
        {% for m in metric_options %}
            <li id="button_{{ m.name }}"></li>
        {% endfor %}
        </ul>
    </div>
    <span> Per </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_color" target="">Color</span> <span class="caret"></span>
        </button>
        <ul id="color_options" class="dropdown-menu">
        {% for c in color_options %}
            <li id="button_{{ c.name }}"></li>
        {% endfor %}
        </ul>
    </div>
    <span> As </span>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_plot_type" target="">Plot</span> <span class="caret"></span>
        </button>
        <ul id="plot_options" class="dropdown-menu">
            <li id="button_scatter"></li>
            <li id="button_scatter_smooth"></li>
            <li id="button_box"></li>
            <li id="button_average"></li>
            <li id="button_average_smooth"></li>
        </ul>
    </div>

    <div id="highchart_cont"></div>

    <script>
        init_lane_sequencing_metrics_chart(
            {{ api_urls|tojson|safe }},
            '{{ ajax_token|safe }}',
            '{{ merge_on }}',
            {{ merge_properties|tojson|safe  }},
            {{ metric_options|tojson|safe }},
            {{ color_options|tojson|safe }},
        )
    </script>
{% endblock %}