{% from 'datatable.js' import dt_init %}

{% macro dt_header() -%}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css" />
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/HubSpot/humanize/master/public/src/humanize.js"></script>
    <script src="/static/column_formatter.js"></script>


{%- endmacro %}


{% macro datatable(name, cols, api_url, paging='true') -%}
{# args:
    name (str) - a name for the table (must match the html table element)
    cols (list[dict[str,str]]) - the column names for the table, mapping their names in the database to
    humanised names to display in html,
    api_url (str) - the base url for the table to query,
#}

<script type="text/javascript" language="JavaScript" class="init">{{ dt_init(name, cols, api_url, paging)|safe }}</script>

<table id="{{ name }}" class="display">
    <thead>
        <tr>
            {% for col in cols %}
            <th>{{ col.title }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
{%- endmacro %}
