<!DOCTYPE html>
<html>
<title>Edinburgh Genomics Analysis Driver</title>
<head>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css" />
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
</head>

<body>

<h1>Demultiplexing report for {{ dataset }}</h1>


<script type="text/javascript" language="JavaScript" class="init">
    $(document).ready(
        function() {
            $('#demultiplexing_table').DataTable(
                {
                    'processing': true,
                    'serverSide': true,
                    'ajax': {
                        'url': 'http://127.0.0.1:5002/api/0.1/data_points?' +
                               'where={"{{dataset_type}}":"{{dataset}}"}&' +
                               'projection={' +
                               '"payload.Lane":1, "sample_project":1, ' +
                               '"library_id":1, "payload.Barcode":1, ' +
                               '"payload.Nb_of_Read":1, "payload.pc_of_Lane":1' +
                               '}',
                        'dataType': 'jsonp',
                        'type': 'GET',
                        'data': function(data) {

                            query = new Object();
                            query.max_results = data.length;
                            query.page = data.start;

                            console.log(data);

                            return query;


                        }
                    },
                    'columns': [
                        {data: 'payload.Lane'},
                        {data: 'sample_project'},
                        {data: 'library_id'},
                        {data: 'payload.Barcode'},
                        {data: 'payload.Nb_of_Read'},
                        {data: 'payload.pc_of_Lane'}
                    ]
                }
            );
        }
    );
   </script>

<table id="demultiplexing_table" class="display">
    <thead>
        <tr>
            <th>Lane</th>
            <th>Project</th>
            <th>Library</th>
            <th>Barcode</th>
            <th>Nb Reads</th>
            <th>% of lane</th>
        </tr>
    </thead>
</table>

</body>
</html>