{% macro proc_display(proc) -%}
{# args:
    proc (dict) - analysis_driver_proc from the Rest API.
#}


    <ul>
        <li>Started: {{ proc._created }}</li>
        <li>Ended:
            {% if proc.end_date %}
            {{ proc.end_date }}
            {% else %}
            running with pid: {{ proc.pid }}
            {% endif %}
        </li>
        <li>
            Status:
            {% if proc.status %}
            {{ proc.status }}
            {% else %}
            inactive
            {% endif %}
        </li>

{%- endmacro %}




{% macro proc_timeline(proc) -%}
{# args:
    proc (dict) - analysis_driver_proc from the Rest API.
#}


    <html>
    <body>
    <script src="../static/node_modules/vis/dist/vis.js"></script>
    <link href="../static/node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <div id="{{ proc.proc_id }}"></div>


    <script type="text/javascript">
      // DOM element where the Timeline will be attached
      var container = document.getElementById('{{ proc.proc_id }}');

    var stages = {{ proc.stages|list|safe }};

    var stage_names = stages.map(function(p){



        if (p.date_finished){
        return {
        content: p.stage_name,
        'start': p.date_started.split("_")[2] +
        '-' +
        p.date_started.split("_")[1] +
        '-' + p.date_started.split("_")[0] +
        ' ' +
        p.date_started.split("_")[3],
        'end': p.date_finished.split("_")[2] +
        '-' +
        p.date_finished.split("_")[1] +
        '-' + p.date_finished.split("_")[0] +
        ' ' +
        p.date_finished.split("_")[3]}

    } else {
    return {
        content: p.stage_name,
        'start': p.date_started.split("_")[2] +
        '-' +
        p.date_started.split("_")[1] +
        '-' +
        p.date_started.split("_")[0] +
        ' ' +
        p.date_started.split("_")[3],
        'style': "color: red; background-color: pink;"}
    }});


    var items = new vis.DataSet(stage_names);

    var options = {

    min: new Date('{{ (proc._created).split('_')[2] }}',
    '{{ ((proc._created).split('_')[1]|int - 1)|string }}',
    '{{ (proc._created).split('_')[0] }}'),

    max: new Date('{{ (proc._created).split('_')[2] }}',
    '{{ ((proc._created).split('_')[1]|int - 1)|string }}',
    '{{ ((proc._created).split('_')[0]|int + 6)|string }}')
    };

      var timeline = new vis.Timeline(container, items, options);


    </script>
    </body>
    </html>

{%- endmacro %}



{% macro proc_report(procs) -%}
{# args:
    procs (list[dict]) - analysis_driver_procs from the Rest API.
#}
    {% for proc in procs[1:] %}
    {{ proc_display(proc) }}
    {% endfor %}

    <div id="analysis_driver_proc_tabs" class="tab-content">
    <h2>Analysis Driver processes</h2>
    <p>Number of times processed: {{ procs|length }}</p>
    {% if procs %}
        <ul class="nav nav-tabs" id="analysis_driver_proc_ul">
            <li class="nav active"><a data-target="#analysis_driver_proc_1_tab" data-toggle="tab">{{ procs[0]._created }}</a></li>
            {% for proc in procs[1:] %}
                <li class="nav"><a data-target="#analysis_driver_proc_{{ loop.index + 1 }}_tab" data-toggle="tab">{{ proc._created }}</a></li>
            {% endfor %}
        </ul>

        <div id="analysis_driver_proc_1_tab" class="tab-pane fade in active"> {{ proc_timeline(procs[0]) }} </div>
        {% for proc in procs[1:] %}
            <div id="analysis_driver_proc_{{ loop.index + 1 }}_tab" class="tab-pane fade"> {{ proc_timeline(proc) }} </div>
        {% endfor %}


    {% endif %}
    </div>

{%- endmacro %}
