{% extends 'untabbed_datatables.html' %}
{% from 'datatable_macro.html' import datatable %}

{% block content %}
<button data-toggle="collapse" data-target="#description" class="btn btn-default pull-right"><i class="fa fa-question-circle"></i> Help</button>
<div id="description" class="collapse help-box">
    <p>The Project Status table shows the number of samples in each project based on the workflow they completed, and the step
        they're queued at. The steps involved are described below. The colour on some statuses represents the period of time that
        the latest sample has been in this status.
    </p>
    <h5><span class="bg-danger">Red</span> means the latest sample's status is over four weeks old.</h5>
    <h5><span class="bg-warning">Yellow</span> means the latest sample's status is over two weeks old.</h5>
    <h5><span class="bg-info">Blue</span> means the latest sample's status is over a week old.</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Completed Steps</th>
                <th>Queued in Steps</th>
                {% for s in status_order %}
            </tr>
        </thead>
        <tr>
            <th>{{ s.name }}</th>
            <td>{{ s.completed | join(', ') }}</td>
            <td>{{ s.queued | join(', ') }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

{{ super() }}
{% endblock %}
