{% extends 'base.html' %}

{% block body %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img style="height:28px;" src="{{ url_for('static', filename='img/EG_logo_final_version_colourwhite_cropped_white.svg') }}">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown=toggle" data-toggle="dropdown">Runs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pipelines/runs/all">All</a></li>
                        <li><a href="/pipelines/runs/queued">Queued</a></li>
                        <li><a href="/pipelines/runs/processing">Processing</a></li>
                        <li><a href="/pipelines/runs/finished">Finished</a></li>
                        <li><a href="/pipelines/runs/archived">Archived</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown=toggle" data-toggle="dropdown">Samples<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pipelines/samples/all">All</a></li>
                        <li><a href="/pipelines/samples/queued">Queued</a></li>
                        <li><a href="/pipelines/samples/processing">Processing</a></li>
                        <li><a href="/pipelines/samples/finished">Finished</a></li>
                        <li><a href="/pipelines/samples/archived">Archived</a></li>
                    </ul>
                </li>
                <li><a href="/projects">Projects</a></li>
                <li>
                    <a href="#" class="dropdown=toggle" data-toggle="dropdown">Charts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/plotting/runs">Runs</a></li>
                        <li><a href="/plotting/samples">Samples</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown=toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/change_password">Change password</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                </li>
            </ul>
        </div>

    </div>
</div>

{{ super() }}

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Edinburgh Genomics Reporting App version <a href="https://github.com/EdinburghGenomics/Reporting-App/tree/v{{ version }}">{{ version }}</a>
        </p>
    </div>
</footer>
{% endblock %}
