{% macro tabset(name, title, tabs, title_field='title', extra_classes='') -%}
{#
Tabs need to be in the format: {'name': name, 'title': title}. The arg 'extra_classes' can be used to specify whether
or not the tab set is hidden by default.
#}
<h2><a data-toggle="collapse" href="#{{ name }}_tabs">{{ title }}</a></h2>
<div id="{{ name }}_tabs" class="tab-content collapse {{ extra_classes }}">
    {% if tabs %}
    <ul class="nav nav-tabs" id="{{ name }}_ul">
        {# Clickable tab links to show target divs. The first one needs 'active' #}
        <li class="nav active">
            <a data-target="#{{ name }}_1_tab" data-toggle="tab">{{ tabs[0][title_field] }}</a>
        </li>
        {% for tab in tabs[1:] %}
        <li class="nav">
            <a data-target="#{{ name }}_{{loop.index + 1 }}_tab" data-toggle="tab">{{ tab[title_field] }}</a>
        </li>
        {% endfor %}
    </ul>

    {# Data target divs. The first one needs 'in' and 'active' so it's displayed by default. #}
    <div id="{{ name }}_1_tab" class="tab-pane fade in active">{{ caller(tabs[0]) }}</div>
    {% for tab in tabs[1:] %}
        <div id="{{ name }}_{{ loop.index + 1 }}_tab" class="tab-pane fade">{{ caller(tab) }}</div>
    {% endfor %}

    {% endif %}
</div>
{%- endmacro %}
