{% extends 'reporting_base.html' %}
{% from 'datatable.html' import datatable, dt_header %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    {{ dt_header() }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
{{ description }}

{% if tables %}
    {% for table in tables %}
    {{ datatable(table) }}
    {% endfor %}
{% elif table %}
    {{ datatable(table) }}
{% endif %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart_div"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawColColors);



function drawColColors() {
      var data = google.visualization.arrayToDataTable( {{ hist | safe }}
);


      var options = {
    title: 'Charges of subatomic particles',
    legend: { position: 'top', maxLines: 2 },
    colors: ['#5C3292', '#1A8763', '#871B47', '#999999'],
    interpolateNulls: false,
  };

      var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
      chart.draw(data, options);
    }

</script>
{% endblock %}


