{% extends 'reporting_base.html' %}
{% from 'datatable.html' import datatable, dt_header %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    {{ dt_header() }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
{{ description }}

{% if tables %}
    {% for table in tables %}
    {{ datatable(table) }}
    {% endfor %}
{% elif table %}
    {{ datatable(table) }}
{% endif %}

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.css">
<div class="ct-chart .ct-square"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.js"></script>

<script type="text/javascript">
var data = {

   series: [
    {{ ser1 }}, {{ ser2 }}, {{ ser3 }}
  ],
  labels:  {{ lab }}
};
new Chartist.Bar('.ct-chart', data);

</script>

{% endblock %}

